body {
    padding-top: 5rem;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  

.errors{
    color:red;
}

button[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 5%;
    width: 120px;
    cursor: pointer;
}
button[type=submit]:hover {
    background-color: #45a049;
  }
